                                <!-- Header -->
<div style="background-color: coral;">
<img src="https://nationalanticorruptioncommission.com/images/about.jpg" alt="no img">
<div class="badge badge-info text-white"><h4>Toll Free No.1067</h4></div>
<h1>Telangana Anti-Corruption Team</h1>
</div>
                                <!-- Nav bar -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home">Home</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="">Our Mission</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/contactus">Contact Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"routerLink="/aboutus">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/acts"> Acts & Rules</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/faqs">FAQ's</a>
  </li>
  <li class="nav-item p">
    <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i>Sign In</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/signup"><i class="fas fa-user-plus"></i> Sign Up</a>
  </li>
</ul>
<marquee behavior="normal" direction="left"> HAI GUY'S I'M PRASHANTH JAKKULA</marquee>