<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->

	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Contact OFFICE</h5>
					<h6 class="text-white">Government of TELANGANA <br>Visit us: M-8,Manoranjan Complex,Ajantha gate,Near Exhibition Grounds, Nampally, HYDERABAD. <br>
					<br> <button routerLink="/contactus">CONTACT US</button><br>Toll Free No. 1067</h6>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>EXPLORE</h5>
					<ul class="list-unstyled quick-links">
						<li><a routerLink="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a routerLink="/aboutus"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a routerLink="/faqs"><i class="fa fa-angle-double-right"></i>FAQs</a></li>
						<li><a routerLink="/help"><i class="fa fa-angle-double-right"></i>Help</a></li>
						<li><a routerLink="/terms"><i class="fa fa-angle-double-right"></i>Terms&Conditions</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Contact Info</h5>
					<div style="font-size: 17px;color: white;">
						<i class="fas fa-phone-alt"></i>  +91 8106290469<br>&nbsp;&nbsp;&nbsp;&nbsp; +91 8790772661<br><br>
						<i class="fas fa-envelope"></i>  pjakkula907@gmail.com
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="www.facebook.com"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="www.twitter.com"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="www.instagram.com"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="www.google.com"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="www.envelop.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="https://www.Anti-Corruption Team.com/">National Anti-Corruption Team</a></u> is a Registered Government of TELANGANA, Inc. INDIA [ This Website is very helpful of our INDIA and TELANGANA ]</p>
					<p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.AntiCorruption.com" target="_blank">Anti-Corruption</a></p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	
	<!-- /Footer -->