<app-header></app-header>
<div class="container">
    <div class="card">
        <div class="card-header bg-info text-white">FREQUENTLY ASKED QUESTIONS (FAQs)</div>
        <div class="card-body">

            <div class="accordion" id="accordionExample">
                <div class="item">
                   <div class="item-header" id="headingOne">
                      <h2 class="mb-0">
                         <button class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            FREQUENTLY ASKED QUESTIONS IN ENGLISH (FAQs)
                         <i class="fa fa-angle-down"></i>
                         </button>
                      </h2>
                   </div>
                   <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                      data-parent="#accordionExample">
                      
<table class="table table-striped table-bordered">
    <thead class="bg-info text-center">
        <tr>
          <th>S.No.</th>
          <th>Questions & Answers</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td style="color: red;">What is the role of ACB in prevention of corruption?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color:blue">The ACB conducts enquiries into complaints/information of corruption from public, against public servants/government employees of the State government, indulging in corruption and takes up legal action against them.</td>
        </tr>
        <tr>
            <td>2</td>
            <td style="color: red;">What kind of cases are taken up by ACB?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">The ACB takes up cases where there is a demand for a bribe and lays a trap & conducts investigation. It also investigates possession of disproportionate assets and criminal misconduct by public servants. On credible information ACB conducts enquiries against a public servant.</td>
        </tr>
        <tr>
            <td>3</td>
            <td style="color: red;">What is meant by Trap?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">Trap is a procedure by which a government employee/public servant is caught by ACB, while accepting bribe from the complainant.</td>
        </tr>
        <tr>
            <td>4</td>
            <td style="color: red;">What is meant by disproportionate assets case?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">If any public servant amasses wealth disproportionate to his known sources of income, the case is called a disproportionate assets case.</td>
        </tr>
        <tr>
            <td>5</td>
            <td style="color: red;">What is meant by criminal misconduct?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">If any public servant by misusing his official position causes loss to the Government Exchequer this act of public servant is called criminal misconduct, against whom legal action will be taken by registering a case.</td>
        </tr>
        <tr>
            <td>6</td>
            <td style="color: red;">What is a surprise check?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">On receipt of credible information about the irregularities or corrupt activities, in any government office, ACB conducts a surprise check.</td>
        </tr>
        <tr>
            <td>7</td>
            <td style="color: red;">Is it essential to give the details of person who gives information to ACB?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">Any person can share information with ACB, but in cases of trap, the person has to lodge a written complaint with ACB.</td>
        </tr>
        <tr>
            <td>8</td>
            <td style="color: red;">Is it essential that the complainant should come to the ACB office?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">In cases of trap the complainant has to come in person to the ACB office and shall give a written complaint. In all other cases, the complainant need not come to ACB office.</td>
        </tr>
        <tr>
            <td>9</td>
            <td style="color: red;">On what basis the ACB conducts enquiry?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">The ACB conducts enquiries on credible information.</td>
        </tr>
        <tr>
            <td>10</td>
            <td style="color: red;">If any officer demands bribe for doing any work (official favour) how to complain to ACB?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">If any officer demands bribe from any individual, such person has to come to ACB office and give a complaint in writing. On such a petition/complaint ACB will cause enquiry and take legal action.</td>
        </tr>
        <tr>
            <td>11</td>
            <td style="color: red;">Can action be taken against a public servant if he accepts bribe through a mediator?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">Yes. ACB can take action against the Public Servant as well as mediator.</td>
        </tr>
        <tr>
            <td>12</td>
            <td style="color: red;">Who provides money to the petitioner in trap cases?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">In all the trap cases, the complainant has to provide the bribe amount. Subsequently the money which was given as bribe, will be reimbursed to the complainant, by ACB after due sanction from government.</td>
        </tr>
        <tr>
            <td>13</td>
            <td style="color: red;">Where are the ACB offices located in Telangana State?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">The Head Office of the ACB is located at Road No.12, MLA Colony, Banjara Hills, Hyderabad. In every District Headquarters, ACB office is located. In Hyderabad city and Ranga Reddy Districts, ACB offices are located at Exhibition grounds, Nampally, Hyderabad.</td>
        </tr>
        <tr>
            <td>14</td>
            <td style="color: red;">How should information be passed on to ACB?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">Information relating to corruption can be passed on through ACB website, e-mail, WhatsApp, Facebook. The information can also be passed on Toll free number 1064.</td>
        </tr>
        <tr>
            <td>15</td>
            <td style="color: red;">Can a complaint be given in any language?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">Yes. A complaint can be lodged in any language.</td>
        </tr>
        <tr>
            <td>16</td>
            <td style="color: red;">Will the details of informant be kept confidential?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">Yes. The details of the informant will be kept confidential.</td>
        </tr>
    </tbody>
</table>
</div></div>
<div class="item">
<div class="item-header" id="headingTwo">
   <h2 class="mb-0">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
         data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">FREQUENTLY ASKED QUESTIONS IN TELUGU (FAQs)<i class="fa fa-angle-down"></i>
      </button>
   </h2>
</div>
<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
   data-parent="#accordionExample">
<table class="table table-striped table-bordered">
    <thead class="bg-info text-center text-white">
        <tr>
            <th>S.No.</th>
            <th>Questions & Answers</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td style="color: red;">అవినీతిని నిరోధించడానికి ఏ.సి.బి. ఏమి చేస్తుంది?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">అవినీతికి సంబంధించిన ప్రజల ఫిర్యాదుల మీద విచారణ చేపట్టి భాద్యులైన వారి మీద చట్ట ప్రకారం చర్యలు చేపడుతుంది.</td>
        </tr>
        <tr>
            <td>2</td>
            <td style="color: red;">అవినీతి నిరోధక శాఖ ఎటువంటి కేసులను దర్యాప్తు చేస్తుంది?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">అవినీతి నిరోధక శాఖ ట్రాప్ కేసులు, ఆదాయానికి మించిన ఆస్తుల కేసులు మరియు నేరపూరిత ప్రవర్తనకు సంబంధించిన కేసులను దర్యాప్తు చేస్తుంది.</td>
        </tr>
        <tr>
            <td>3</td>
            <td style="color: red;">ట్రాప్ (వల వేసి పట్టుకొనే) కేసు అంటే ఏమిటి?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">ఏ వ్యక్తి అయినా తనను ప్రభుత్వ అధికారి లంచం ఆడిగినట్లు వ్రాత పూర్వకంగా ఫిర్యాదు చేస్తే ఆ అధికారిని లంచం తీసుకుంటున్నప్పుడు వలవేసి పట్టుకొని చట్ట ప్రకారం చర్య తీసుకొనడం.</td>
        </tr>
        <tr>
            <td>4</td>
            <td style="color: red;">ఆదాయానికి మించిన ఆస్తుల కేసు అంటే ఏమిటి?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">ఏ అధికారి అయినా అక్రమ మార్గంలో తన చట్టబద్దమైన ఆదాయానికి మించి ఆస్తులు కూడబెట్టుకుంటే అవినీతి నిరోధక చట్ట ప్రకారం కేసు నమోదు చేసి చర్యలు చేపట్టడం.</td>
        </tr>
        <tr>
            <td>5</td>
            <td style="color: red;">నేర పూరిత ప్రవర్తన కేసు అంటే ఏమిటి?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">ఏ అధికారి అయినా తన అధికారాన్ని దుర్వినియోగ పరిచి ప్రభుత్వ ఆదాయానికి నష్టం కలిగిస్తే నేరపూరిత ప్రవర్తన కలిగినట్లుగా కేసు నమోదు చేసి దర్యాప్తు చేయడం.</td>
        </tr>
        <tr>
            <td>6</td>
            <td style="color: red;">అవినీతి నిరోధక శాఖ ఆకస్మిక తనిఖీలు చేబడుతుందా?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">ఏదైనా ప్రభుత్వ కార్యాలయములో అవినీతి జరుగుతున్నది అని నిర్దిష్టమైన సమాచారం అందితే అవినీతి నిరోధక శాఖ ఆకస్మిక తనిఖీలు చేపట్టి సాక్ష్యాధారాలు సేకరించి తదుపరి విచారణ చేపడుతుంది.</td>
        </tr>
        <tr>
            <td>7</td>
            <td style="color: red;">ఏ.సి.బి. కి అవినీతికి సంబంధించిన సమాచారం అందించే వ్యక్తి తన వివరాలను తెలియజేయాలా?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">ఏ వ్యక్తి అయినా అవినీతికి సంబంధించిన సమాచారాన్ని తన వివరాలు చెప్పకుండానే అవినీతి నిరోధక శాఖకు అందించవచ్చు. కానీ లంచం అడిగిన (ట్రాప్) కేసులలో తప్పనిసరిగా తెలియజేయవలెను.</td>
        </tr>
        <tr>
            <td>8</td>
            <td style="color: red;">ఫిర్యాదుదారు తప్పనిసరిగా అవినీతి నిరోధక శాఖ కార్యాలయానికి రావలసి ఉంటుందా?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">లంచానికి సంబంధించి వల వేసి పట్టుకొనే కేసుల (ట్రాప్ కేసుల) లో మాత్రమే ఫిర్యాదు దారుడు ఏ.సి.బి. కార్యాలయానికి వచ్చి వ్రాత పూర్వకంగా ఫిర్యాదు చేయవలసి ఉంటుంది. మిగిలిన కేసుల సమాచారాన్ని ఇచ్చే వ్యక్తులు అవినీతి నిరోధక శాఖ కార్యాలయానికి రావలసిన అవసరం లేదు.</td>
        </tr>
        <tr>
            <td>9</td>
            <td style="color: red;">అవినీతి నిరోధక శాఖ ఎటువంటి సమాచారం మీద విచారణ చేపడుతుంది?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">అవినీతికి సంబంధించిన నిర్దిష్టమైన సమాచారం ఆధారంగా మాత్రమే చర్యలు చేపడుతుంది.</td>
        </tr>
        <tr>
            <td>10</td>
            <td style="color: red;">ఏదైనా ప్రభుత్వ ఆఫీసుకు పనిమీద వెళితే ఏ అధికారైన లంచం అడిగితే ఏసి ‌బి కి ఏ విధంగా ఫిర్యాదు చేయాలి?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">ప్రభుత్వ అధికారి ఎవరైనా పని చేయడానికి లంచం అడిగితే సదరు వ్యక్తి ఏసిే‌బి ఆఫీసుకు వచ్చి జరిగిన విషయాన్నంతటిని వ్రాత పూర్వకంగా ఫిర్యాదు చేయాలి. ఆ ఫిర్యాదు మీద ఏసీబీ అధికారులు విచారణ చేసి, చట్ట ప్రకారం చర్య తీసుకుంటారు.</td>
        </tr>
        <tr>
            <td>11</td>
            <td style="color: red;">ప్రభుత్వ ఉద్యోగి మధ్యవర్తి ద్వారా లంచం తీసుకొంటే చర్య తీసుకోవచ్చా?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">అటువంటి సందర్భంలో ప్రభుత్వ ఉద్యోగితో పాటు మధ్యవర్తి పై కూడా చర్య తీసుకోబడుతుంది.</td>
        </tr>
        <tr>
            <td>12</td>
            <td style="color: red;">లంచం కేసులో ( ట్రాప్ ) ఫిర్యాదు చేస్తే లంచం డబ్బులు ఎవరు సమకూరుస్తారు?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">లంచం కేసులో ఫిర్యాదు దారుడే లంచం డబ్బులను సమకూర్చుకోవలసి ఉంటుంది. లంచం డబ్బులు సాక్ష్యంగా న్యాయస్థానంలో ఉంచబడుతుంది. కావున ఫిర్యాదు దారునికి కేసు నమోదు చేసిన తరువాత అతను లంచంగా సమకూర్చిన మొత్తానికి సమానమైన సొమ్మును ప్రభుత్వం నుండి తిరిగి ఇవ్వబడుతుంది.</td>
        </tr>
        <tr>
            <td>13</td>
            <td style="color: red;">అవినీతి నిరోధక శాఖ కార్యాలయాలు ఎక్కడ ఉన్నాయి?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">హైదరాబాదు నగరంలో, బంజారా హిల్స్, రోడ్ నెంబర్ 12లో ప్రధాన కార్యాలయం ఉంది. రాష్ట్రంలో ప్రతి జిల్లాలో కూడా అవినీతి నిరోధక శాఖ కార్యాలయాలు ఉన్నాయి. అదే విధంగా హైద్రాబాదు, రంగా రెడ్డి జిల్లా లకు సంబంధించిన ఏసి ‌బి కార్యాలయాలు ఎగ్జిబిషన్ గ్రౌండు దగ్గర, నాంపల్లిలో ఉన్నవి.</td>
        </tr>
        <tr>
            <td>14</td>
            <td style="color: red;">అవినీతికి సంబంధించిన సమాచారాన్ని ఏ విధంగా ఏ.సి.బి. కి తెలియజేయవచ్చు?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">అవినీతికి సంబంధించిన సమాచారాన్ని సంబంధిత ఏ.సి.బి. కార్యాలయానికి నేరుగా గాని, ఫోను లేదా ఉత్తరం ద్వారా గాని, ఏ.సి.బి. వెబ్ సైట్ నందు గాని, ఈమెయిల్ ద్వారా గాని, వాట్సాప్ ద్వారా గాని, ఫేస్ బుక్ ద్వారా గాని, మరియు టోల్ ఫ్రీ నెంబరు 1064 ద్వారా తెలియజేయవచ్చు.</td>
        </tr>
        <tr>
            <td>15</td>
            <td style="color: red;">ఫిర్యాదుదారుడు ఫిర్యాదును ఏ భాషలోనైనా ఇవ్వవచ్చా?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">ఫిర్యాదు దారుడు ఫిర్యాదును ఏ భాషలోనైనా ఇవ్వవచ్చు</td>
        </tr>
        <tr>
            <td>16</td>
            <td style="color: red;">సమాచారం ఇచ్చిన వ్యక్తి వివరాలు గోప్యంగా ఉంచబడతాయా?</td>
        </tr>
        <tr>
            <td>Ans.</td>
            <td style="color: blue;">అవును, గోప్యంగా ఉంచబడతాయి</td>
        </tr>
    </tbody>
</table>
</div></div></div>
<p>If you have any other questions please contact the nearest ACB Officer for clarifications.The telephone numbers can be found at Contact Us.</p>
<h6 style="color: red;"><b>CONTACT US</b></h6>
<p>Tollfree No.:1064, Landline Nos.<a href="#">040-23251555</a></p>
<p>Complaints/Information can now also be sent by email to :<a href="#">dg_acb@telangana.gov.in</a>
</div></div></div>
<app-footer></app-footer>