<app-header></app-header>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1><i class="fas fa-users"></i> About Us</h1><hr>
		</div>
		
		<div class="col-md-12">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            FORMATION OF ANTI-CORRUPTION BUREAU, TELANGANA STATE
						</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<p>&nbsp;&nbsp;The Anti-Corruption Bureau of Telangana State has started functioning separately since 02-06-2014 after the bifurcation of A.C.B. of erstwhile A.P. State which came into existence on
                                02-01-1961.<br><br>&nbsp;&nbsp;&nbsp;&nbsp;he organization functions directly under the administrative control of the General Administration (Spl.C) Department, Government of Telangana State.</p>
							</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            AIM OF THE ORGANISATION
						</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<p>&nbsp;&nbsp;&nbsp;&nbsp;The Anti-Corruption Bureau is a specialized agency constituted for tackling the problem of corruption in various departments of the Government. The Bureau registers the cases against the public servants under the provisions of Prevention of Corruption Act, 1988. The Bureau also conducts enquiries basing on the information received through petitions from Government, Vigilance Commission, Lok Ayukta and General Public.</p>
							
						</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            STRUCTURE OF ORGANIZATION
						</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<p>&nbsp;&nbsp;&nbsp;&nbsp;The Bureau is headed by Director General of the rank of Director General of Police. He is assisted by Director/Addl.Director and Joint Directors/Deputy Directors. The D.G., A.C.B. is further assisted by Technical Officers like Engineers, Chartered Accountant and Legal Officers.
                            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Further, there is one Research & Planning Cell (R.P.C.) to deal with all matters relating to Policy and Procedure of the Organization. Besides, it sends various general reports like Statistical Returns/LAQs/L.CQs/N.C.R.B. Report to the concerned authorities.
                            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;The Bureau is having Training Wing to train the newly joined Police Officers and also to impart training to the Chief Vigilance Officers/Vigilance Officers of various departments, over the matters relating to Vigilance Procedure and anti-corruption measures. </p>
						</div>
					</div>
				</div>
                <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFour">
						<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            STRUCTURE OF RANGES
						</a>
						</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
						<div class="panel-body">
							<p>&nbsp;&nbsp;&nbsp;&nbsp;The A.C.B., Telangana State consists of 11 Ranges, each Range comprising of two to five districts, except Hyderabad city which is divided into 2 Ranges, i.e City Range-I and City Range-II. Each Range is headed by one Dy.S.P., (A.C.B.) assisted by two or more Inspectors.</p>
						</div>
					</div>
				</div>
                <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFive">
						<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            ORGANIZATION
						</a>
						</h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
						<div class="panel-body">
                            <img src="http://acb.telangana.gov.in/images/acb_flowchart.jpg" alt="no img" width="1100px" height="800px">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
<app-footer></app-footer>