<app-header></app-header>
<div class="container">
    <h4><i class="fas fa-journal-whills"></i> Acts & Rules</h4>
<table class="table table-bordered table-hover text-center">
        <thead class="table-dark">
            <tr>
                <th>S.No.</th>
                <th>Act Name</th>
                <th>Preview</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td><b>The Prevention of Corruption Act, 1988</b></td>
                <td><i class="far fa-file-pdf"></i></td>
                <td><i class="far fa-arrow-alt-circle-down"></i></td>
            </tr>
            <tr>
                <td>02</td>
                <td><b>The Criminal Law Amendment Ordinance, 1944 (Ordinance No.XXXVIII of 1944)</b></td>
                <td><i class="far fa-file-pdf"></i></td>
                <td><i class="far fa-arrow-alt-circle-down"></i></td>
            </tr>
            <tr>
                <td>03</td>
                <td><b>Prevention of Money Laundering Act, 2002</b></td>
                <td><i class="far fa-file-pdf"></i></td>
                <td><i class="far fa-arrow-alt-circle-down"></i></td>
            </tr>
            <tr>
                <td>04</td>
                <td><b>Prevention of Money Laundering (Amendment) Act, 2012</b></td>
                <td><i class="far fa-file-pdf"></i></td>
                <td><i class="far fa-arrow-alt-circle-down"></i></td>
            </tr>
            <tr>
                <td>05</td>
                <td><b>APCS Conduct Rules, 1964</b></td>
                <td><i class="far fa-file-pdf"></i></td>
                <td><i class="far fa-arrow-alt-circle-down"></i></td>
            </tr>
            <tr>
                <td>06</td>
                <td><b>APCS (CCA) Rules, 1991</b></td>
                <td><i class="far fa-file-pdf"></i></td>
                <td><i class="far fa-arrow-alt-circle-down"></i></td>
            </tr>
            <tr>
                <td>07</td>
                <td><b>APCS (CCA) Rules, 1991</b></td>
                <td><i class="far fa-file-pdf"></i></td>
                <td><i class="far fa-arrow-alt-circle-down"></i></td>
            </tr>
            <tr>
                <td>08</td>
                <td><b>The Benami Transactions (Prohibition) Amendment Act 2016</b></td>
                <td><i class="far fa-file-pdf"></i></td>
                <td><i class="far fa-arrow-alt-circle-down"></i></td>
            </tr>
        </tbody>
</table>
</div>
<app-footer></app-footer>