<app-header></app-header>

<div class="container">
    <div class="left">
      <div class="header">
        <h2 class="animation a1">Welcome <br>Create New Account</h2>
        <h4 class="animation a2">Log in to your account using email and password</h4>
      </div>
      <div class="form">
        <input type="text" class="form-field animation a3" placeholder="First Name">
        <input type="text" class="form-field animation a3" placeholder="Last Name">
        <input type="email" class="form-field animation a3" placeholder="Email Address">
        <input type="password" class="form-field animation a4" placeholder="Password">
        <input type="password" class="form-field animation a4" placeholder="Confirm Password">
        <button class="animation a6" href="">Sign Up</button>
        <p class="animation a5">Already a Member? <a routerLink="/login">Sign in.</a></p>
      </div>
    </div>
    <div class="right"></div>
  </div>
  

<app-footer></app-footer>