<app-header></app-header>

<div class="container">
<h4><i class="fas fa-phone-volume"></i> Contact Us</h4>
<div class="card">
<div class="card-body">
<div id="accordion" class="myaccordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          HOME OFFICE CONTACT DETAILS
          <span class="fa-stack fa-sm">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
          </span>
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
<table class="table table-striped">
    <thead class="table-dark">
      <tr>
            <th>NAME</th>
            <th>DESIGNATION</th>
            <th>DISTRICT</th>
            <th>E-MAIL ID</th>
            <th>CONTACT No.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>ANJANI KUMAR</b></td>
        <td>IPS</td>
        <td>Hyderabad</td>
        <td><a href="www.gmail.com">dg_acb@telangana.gov.in</a></td>
        <td>04023251501</td>
      </tr>
      <tr>
        <td><b>SHIKHA GOEL</b></td>
        <td>IPS</td>
        <td>Hyderabad</td>
        <td><a href="www.gmail.com">dir_acb@telangana.gov.in</a></td>
        <td>04023251503</td>
      </tr>
    </tbody>
  </table>
      </div></div></div>

              <div id="accordion" class="myaccordion">
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        DISTRICT OFFICE CONTACT DETAILS
                        <span class="fa-stack fa-sm">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                        </span>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
      <th>DISTRICT</th>
      <th>NAME & DESIGNATION</th>
      <th>ADDRESS</th>
      <th>CONTACT No.</th>
      <th>FAX No. & E-MAIL ID</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Hyderabad</b></td>
        <td>R.Sathish Kumar <br>Dy. Supdt. of Police Anti-Corruption Bureau.</td>
        <td>M-8,Manoranjan Complex,Ajantha gate,Near Exhibition Grounds, Nampally.</td>
        <td>040-24617291 <br> 9440446109</td>
        <td>04024617291 <br><a href="www.gmail.com">dsp_acb_cr1@telangana.gov.in</a></td>
      </tr>
      <tr>
        <td><b>Hyderabad</b></td>
        <td>K.Srikanth <br>Dy. Supdt. of Police Anti-Corruption Bureau</td>
        <td>M-8, Manoranjan Complex,Ajantha gate,Near Exhibition Grounds, Nampally.</td>
        <td>040-24617408 <br>9440446134</td>
        <td>04024744257 <br><a href="www.gmail.com">dsp_acb_cr2@telangana.gov.in</a></td>
      </tr>
      <tr>
        <td><b>Rangareddy</b></td>
        <td>S.Suryanarayana <br>Dy. Supdt. of Police Anti-Corruption Bureau</td>
        <td>M-8, Manoranjan Complex,Ajantha gate,Near Exhibition Grounds, Nampally.</td>
        <td>040-24610142 <br>9440446140</td>
        <td>04023559026 <br><a href="www.gmail.com">dsp_acb_hrg@telangana.gov.in</a></td>
      </tr>
      <tr>
        <td><b>Mahabubnagar</b></td>
        <td>B.Srikrishna Goud <br>Dy. Supdt. of Police Anti-Corruption Bureau</td>
        <td>Police line, Infront of Water Tank,Mahabubnagar</td>
        <td>08542-242733 <br>9491305609</td>
        <td>08542242733 <br><a href="www.gmail.com">dsp_acb_mbnr@telangana.gov.in</a></td>
      </tr>
      <tr>
        <td><b>Nalgonda</b></td>
        <td>B.Srikrishna Goud <br>FAC Dy. Supdt. of Police Anti-Corruption Bureau</td>
        <td>H.No.6-1-57/E, Boyawada, Nalgonda.</td>
        <td>08682-225681 <br>7382625525</td>
        <td>08682225681 <br><a href="www.gmail.com">dsp_acb_nlg@telangana.gov.in</a></td>
      </tr>
      <tr>
        <td><b>Warangal</b></td>
        <td>A.Madusudhan <br>Dy. Supdt. of Police Anti-Corruption Bureau</td>
        <td>1-8-289, Near Ekasila Park,Balasamudram,Hanumakonda.</td>
        <td>0870-2577510 <br>9440446146</td>
        <td>08702546678 <br><a href="www.gmail.com">dsp_acb_wrl@telangana.gov.in</a></td>
      </tr>
      <tr>
        <td><b>Karimnagar</b></td>
        <td>K.Bhadraiah <br>Dy. Supdt. of Police Anti-Corruption Bureau</td>
        <td>2-8-184,Mukarampura, Karimnagar.</td>
        <td>0878-2243693 <br>9440446166</td>
        <td>08782243443 <br><a href="www.gmail.com">dsp_acb_knr@telangana.gov.in</a></td>
      </tr>
      <tr>
        <td><b>Nizamabad</b></td>
        <td>A.P.Anand Kumar <br>FAC Dy. Supdt. of Police Anti-Corruption Bureau</td>
        <td>6-1-125/1G, Kanteswar, Nizamabad</td>
        <td>08462-237450 <br>9440446149</td>
        <td>08462230150 <br><a href="www.gmail.com">dsp_acb_nzb@telangana.gov.in</a></td>
      </tr>
      <tr>
        <td><b>Medak</b></td>
        <td>A.P.Anand Kumar <br>Dy. Supdt. of Police Anti-Corruption Bureau</td>
        <td>R B Quarters, Near Revenue Guest House, Sangareddy.</td>
        <td>08455-276522 <br>9440446149</td>
        <td>08455276522 <br><a href="www.gmail.com">dsp_acb_mdk@telangana.gov.in</a></td>
      </tr>
      <tr>
        <td><b>Adilabad</b></td>
        <td>K.Bhadraiah <br>FAC Dy. Supdt. of Police Anti-Corruption Bureau</td>
        <td>White Quarters, Khailashnagar, Adilabad.</td>
        <td>08732-226307 <br>9440446166</td>
        <td>0872226307 <br><a href="www.gmail.com">dsp_acb_adb@telangana.gov.in</a></td>
      </tr>
      <tr>
        <td><b>Khammam</b></td>
        <td>S.V.Ramana Murthy <br>Dy. Supdt. of Police Anti-Corruption Bureau</td>
        <td>6-1-371, Near Krushi Bhavan, VDO's Colony, Khammam.</td>
        <td>08742-228663 <br>7901099400</td>
        <td>08702546678 <br><a href="www.gmail.com">dsp_acb_kmm@telangana.gov.in</a></td>
      </tr>
    </tbody>
  </table>
</div></div></div>
</div></div>
</div>
<app-footer></app-footer>